<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PryAccesoDatos.Properties.Settings.Valor" connectionString="Data Source=DESKTOP-PKVC4GL;Initial Catalog=BD_Academia;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>